@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Helvetica Neue', sans-serif;
  }
  select {
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .h1 {
    @apply text-[64px]	leading-[70px];
  }
  .h2 {
    @apply text-[48px]	leading-[58px];
  }
  .h3 {
    @apply text-[36px]	leading-[44px];
  }
  .h4 {
    @apply text-[28px]	leading-[36px];
  }
  .h5 {
    @apply text-[20px]	leading-[28px];
  }
  .h6 {
    @apply text-[14px]	leading-[22px];
  }
  .fn-12 {
    @apply text-[12px] leading-[16px];
  }
  .fb-12 {
    @apply text-[12px] leading-[16px];
  }
  .fn-14 {
    @apply text-[14px] leading-[20px];
  }
  .fb-14 {
    @apply text-[14px] leading-[20px];
  }
  .fn-16 {
    @apply text-[16px] leading-[24px];
  }
  .fb-16 {
    @apply text-[16px] leading-[24px];
  }

  .container-0 {
    @apply w-full px-5 md:px-10 lg:px-16;
  }
  .container-1 {
    @apply max-w-[1920px] px-5 md:px-10 lg:px-16;
  }
  .container-2 {
    @apply max-w-[1600px] px-5 md:px-10 lg:px-16;
  }
  .container-3 {
    @apply max-w-[1440px] px-5 md:px-10 lg:px-16;
  }
  .container-4 {
    @apply max-w-[1280px] px-5 md:px-10 lg:px-16;
  }
}
@layer components {
  .bg-basic {
    @apply h-full w-full bg-mgray-50 pt-14;
  }
  .input-basic {
    @apply fn-14 flex h-[60px] w-full appearance-none items-center border border-mgray-500 px-3 leading-tight text-mgray-600;
  }
  /* Custom style group */
  .cs-main-bg-theme {
    @apply h-screen w-full bg-gradient-to-r from-red-100 to-sky-200 dark:from-amber-950 dark:to-blue-950;
  }

  .cs-border-btn-t-100 {
    border: 0.5px solid rgba(180, 201, 207, 0.5);
    outline: none;
    transition: all;
  }
  .cs-border-zinc-t-600 {
    border: 1px solid rgba(82, 82, 91, 0.4);
  }
  .cs-btn-border-style {
    @apply cursor-pointer rounded-full border border-solid border-gray-400 px-4 py-2 transition hover:border-transparent hover:bg-gray-300 hover:bg-opacity-50 dark:hover:bg-gray-400 dark:hover:bg-opacity-20;
  }
  .cs-navbar-style-light {
    @apply w-full bg-gray-100 bg-opacity-50 backdrop-blur-lg;
  }
  .cs-navbar-style-dark {
    @apply w-full bg-gray-900 bg-opacity-50 backdrop-blur-lg;
  }
  .cs-block-style-grey-900 {
    @apply cs-border-zinc-t-600 w-full rounded-xl bg-gray-900 bg-opacity-30 backdrop-blur-lg;
  }
  .cs-block-style-white-theme {
    @apply w-full rounded-xl border border-solid border-gray-200 bg-gray-100 bg-opacity-30 backdrop-blur-lg;
  }
  .cs-post-scroll-height {
    height: calc(100vh);
  }
  .cs-post-btn-style {
    @apply w-1/2 cursor-pointer py-4 text-center transition hover:bg-gray-300 hover:bg-opacity-20 dark:hover:bg-gray-400 dark:hover:bg-opacity-20;
  }
  .cs-gradient-logo-style-light {
    background: linear-gradient(to right bottom, #753a88 10%, #cc2b5e 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .cs-gradient-logo-style-dark {
    background: linear-gradient(to right bottom, #ffa751 0%, #ffe259 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .cs-gradient-btn-dark {
    background: linear-gradient(to right bottom, #7c517e 0%, #883a67 100%);
  }

  .icon-common {
    @apply h-5 w-5 text-base text-gray-600 dark:text-gray-200;
  }
  .text-spotify-green {
    color: #1DB954;
  }
}
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

input[type='range'] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8px;
  -webkit-appearance: none;
  /* width: 100%; */
  border-radius: 8px;
  background-color: #555;
  transition: background-color 0.2s ease;
  cursor: pointer;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative; /* 設為相對位置，為了前後區塊的絕對位置而設定 */
  left: 1px;
  width: 12px;
  height: 12px;
  background-color: #cc2b5e;
  border-radius: 50%;
  outline: none;
  border: none;
}
/* Hide Scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.card-bg-style {
  background: linear-gradient(
    134.82deg,
    rgba(123, 123, 123, 0.2) 18.66%,
    rgba(0, 0, 0, 0.1) 64.66%
  );
  box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16px);
  /* Note: backdrop-filter has minimal browser support */

  border-top: 2px solid rgba(123, 123, 123, 0.1);
  border-right: 2px solid rgba(123, 123, 123, 0.2);
  border-left: 2px solid rgba(123, 123, 123, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 18px;
}
.card-wrapper {
  width: 100%;
  perspective: 2000;
}

.cs-side-memu-toggle {
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 24px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  z-index: 10001;
}
.hoverzone {
  height: 56px;
  width: 100%;
}

.hoverzone:hover .dropdown-menu {
  display: block;
  position: relative;
}
